
<section class="py-5">
<div class= "container">
    <div class="col-lg-12">
        <%=link_to 'All', category_path(params[:id]), :class => 'add-to-cart btn btn-default', :style => 'color:black' %>
        <%@subcategories.each do |subcategory|%>
            <button type="button" class="add-to-cart btn btn-default" onclick="get_products(<%=subcategory.id%>)"><%=subcategory.title%></button>
        <%end%>
    </div>
</div>
            <div class="container px-4 px-lg-5 mt-5" id="show_products">
                <%=render 'shared/product_card'%>
            </div>
            
        </section>
        <script>
        function get_products(id){
            $.ajax({
              url: `/category/${id}/get_products`,
              type: 'get',
              dataType: "script"
            })
        };
        function addtocart(id,user){  
            if(user){
          $.ajax({
              url: `/cart_item?product_id=${id}`,
              beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
              type: 'post',
              dataType: "script",
              success: function(data){
                var cartcount = $('<div />').append(data).find(`#cart_quantity`).html();
            $(`#cart_quantity`).html(cartcount);
            
           }
          });
      } else{
        alert('PLEASE LOGIN TO ADD PRODUCTS TO CART')
      }
        };
        </script>