<section class="h-100" style="background-color: #eee;">
  <div class="container h-100 py-5">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-10">

        <div class="d-flex justify-content-between align-items-center mb-4">
          <h3 class="fw-normal mb-0 text-black">Shopping Cart</h3>
          <div>

          </div>
        </div>
       
     <div id="cart_items">
      <%= render 'shared/cart_items'%>
      </div>
        <%if !current_user.shoppingcart.cart_items.empty?%>
        <div class="card">
          <div class="card-body" style="text-align:center">
           <%= link_to 'Proceed to pay', new_order_path , :class => 'add-to-cart btn btn-default btn-lg ', :style => 'margin:0 auto; color:white' %>
           
          </div>
        </div>
        <%else%>
        <div class="card">
          <div class="card-body" style="text-align:center">
            <p><b>PLEASE ADD SOMETHING TO CART TO CHECKOUT</b></p>
          </div>
        </div>
        <%end%>
      </div>
    </div>
  </div>
</section>

<script>

      function addQuantity(id,stock){  
          $.ajax({
              url: `/cart_item/${id}/add`,
              type: 'get',
              dataType: "script",
              success: function(data){
            var quantity = $('<div />').append(data).find(`#quantity${id}`).html();
            $(`#quantity${id}`).html(quantity);
            if(quantity > 1){
              document.getElementById(`reduce${id}`).disabled = false; 
            }
            if (stock == 1){
              document.getElementById(`add${id}`).disabled = true;
            }
            var price = $('<div />').append(data).find(`#price${id}`).html();
            $(`#price${id}`).html(price);
           }
          });
      };
      function reduceQuantity(id,stock){  
          $.ajax({
              url: `/cart_item/${id}/reduce`,
              type: 'get',
              dataType: "script",
              success: function(data){
            var quantity = $('<div />').append(data).find(`#quantity${id}`).html();
            $(`#quantity${id}`).html(quantity);
            if(quantity == 1){
              document.getElementById(`reduce${id}`).disabled = true; 
            }
            if (stock >= 0){
              document.getElementById(`add${id}`).disabled = false;
            }
            var price = $('<div />').append(data).find(`#price${id}`).html();
            $(`#price${id}`).html(price);
           }
          });
      };
</script>