<div id="success_tic" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                <a class="close" href="#" data-dismiss="modal">&times;</a>
                <div class="page-body">
                <div class="head">
                <h4>Product has been added to cart</h4>
                </div>

            <h1 style="text-align:center;"><div class="checkmark-circle">
            <div class="background"></div>
            <div class="checkmark draw"></div>
            </div><h1>

            </div>
            </div>
                </div>

            </div>