
<section class="py-5">
<div class= "container">
    <div class="col-lg-12">
        <%=link_to 'All', home_path(params[:id]), :class => 'btn btn-info', :style => 'color:black' %>
        <%@subcategories.each do |subcategory|%>
            <button type="button" class="btn btn-info" onclick="get_products(<%=subcategory.id%>)"><%=subcategory.title%></button>
        <%end%>
    </div>
</div>
            <div class="container px-4 px-lg-5 mt-5" id="show_products">
                <%=render 'categories'%>
            </div>
            
        </section>
        <script>
        function get_products(id){
            $.ajax({
              url: `/home/${id}/get_products`,
              type: 'get',
              dataType: "script"
            })
        };
        </script>