/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 body {
    font-family: 'open sans';
    overflow-x: hidden; }
  
  img {
    max-width: 100%; }
  
  .preview {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
    @media screen and (max-width: 996px) {
      .preview {
        margin-bottom: 20px; } }
  
  .preview-pic {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }
  
  .preview-thumbnail.nav-tabs {
    border: none;
    margin-top: 15px; }
    .preview-thumbnail.nav-tabs li {
      width: 18%;
      margin-right: 2.5%; }
      .preview-thumbnail.nav-tabs li img {
        max-width: 100%;
        display: block; }
      .preview-thumbnail.nav-tabs li a {
        padding: 0;
        margin: 0; }
      .preview-thumbnail.nav-tabs li:last-of-type {
        margin-right: 0; }
  
  .tab-content {
    overflow: hidden; }
    .tab-content img {
      width: 100%;
      -webkit-animation-name: opacity;
              animation-name: opacity;
      -webkit-animation-duration: .3s;
              animation-duration: .3s; }
  
  .card {
    margin-top: 50px;
    background: #eee;
    padding: 3em;
    line-height: 1.5em; }
  
  @media screen and (min-width: 997px) {
    .wrapper {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; } }
  
  .details {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  
  .colors {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }
  
  .product-title, .price, .sizes, .colors {
    text-transform: UPPERCASE;
    font-weight: bold; }
  
  .checked, .price span {
    color: #6EC1E4; }
  
  .product-title, .rating, .product-description, .price, .vote, .sizes {
    margin-bottom: 15px; }
  
  .product-title {
    margin-top: 0; }
  
  .size {
    margin-right: 10px; }
    .size:first-of-type {
      margin-left: 40px; }
  
  .color {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    height: 2em;
    width: 2em;
    border-radius: 2px; }
    .color:first-of-type {
      margin-left: 20px; }
  
  .add-to-cart, .like {
    background: #6EC1E4 !important;
    padding: 1.2em 1.5em;
    border: none;
    text-transform: UPPERCASE;
    font-weight: bold;
    color: #fff;
    -webkit-transition: background .3s ease;
            transition: background .3s ease; }
    .add-to-cart:hover, .like:hover {
      background: black !important;
      color: white !important;
      color: #fff; }
  
  .not-available {
    text-align: center;
    line-height: 2em; }
    .not-available:before {
      font-family: fontawesome;
      content: "\f00d";
      color: #fff; }
  
  .orange {
    background: #6EC1E4; }
  
  .green {
    background: #85ad00; }
  
  .blue {
    background: #0076ad; }
  
  .tooltip-inner {
    padding: 1.3em; }
  
  @-webkit-keyframes opacity {
    0% {
      opacity: 0;
      -webkit-transform: scale(3);
              transform: scale(3); }
    100% {
      opacity: 1;
      -webkit-transform: scale(1);
              transform: scale(1); } }
  
  @keyframes opacity {
    0% {
      opacity: 0;
      -webkit-transform: scale(3);
              transform: scale(3); }
    100% {
      opacity: 1;
      -webkit-transform: scale(1);
              transform: scale(1); } }


              #success_tic .page-body{
                max-width:300px;
                background-color:#FFFFFF;
                margin:10% auto;
              }
               #success_tic .page-body .head{
                text-align:center;
              }
              /* #success_tic .tic{
                font-size:186px;
              } */
              #success_tic .close{
                    opacity: 1;
                  position: absolute;
                  right: 0px;
                  font-size: 30px;
                  padding: 3px 15px;
                margin-bottom: 10px;
              }
              #success_tic .checkmark-circle {
                width: 150px;
                height: 150px;
                position: relative;
                display: inline-block;
                vertical-align: top;
              }
              .checkmark-circle .background {
                width: 150px;
                height: 150px;
                border-radius: 50%;
                background: #1ab394;
                position: absolute;
              }
              #success_tic .checkmark-circle .checkmark {
                border-radius: 5px;
              }
              #success_tic .checkmark-circle .checkmark.draw:after {
                -webkit-animation-delay: 300ms;
                -moz-animation-delay: 300ms;
                animation-delay: 300ms;
                -webkit-animation-duration: 1s;
                -moz-animation-duration: 1s;
                animation-duration: 1s;
                -webkit-animation-timing-function: ease;
                -moz-animation-timing-function: ease;
                animation-timing-function: ease;
                -webkit-animation-name: checkmark;
                -moz-animation-name: checkmark;
                animation-name: checkmark;
                -webkit-transform: scaleX(-1) rotate(135deg);
                -moz-transform: scaleX(-1) rotate(135deg);
                -ms-transform: scaleX(-1) rotate(135deg);
                -o-transform: scaleX(-1) rotate(135deg);
                transform: scaleX(-1) rotate(135deg);
                -webkit-animation-fill-mode: forwards;
                -moz-animation-fill-mode: forwards;
                animation-fill-mode: forwards;
              }
              #success_tic .checkmark-circle .checkmark:after {
                opacity: 1;
                height: 75px;
                width: 37.5px;
                -webkit-transform-origin: left top;
                -moz-transform-origin: left top;
                -ms-transform-origin: left top;
                -o-transform-origin: left top;
                transform-origin: left top;
                border-right: 15px solid #fff;
                border-top: 15px solid #fff;
                border-radius: 2.5px !important;
                content: '';
                left: 35px;
                top: 80px;
                position: absolute;
              }
              
              @-webkit-keyframes checkmark {
                0% {
                  height: 0;
                  width: 0;
                  opacity: 1;
                }
                20% {
                  height: 0;
                  width: 37.5px;
                  opacity: 1;
                }
                40% {
                  height: 75px;
                  width: 37.5px;
                  opacity: 1;
                }
                100% {
                  height: 75px;
                  width: 37.5px;
                  opacity: 1;
                }
              }
              @-moz-keyframes checkmark {
                0% {
                  height: 0;
                  width: 0;
                  opacity: 1;
                }
                20% {
                  height: 0;
                  width: 37.5px;
                  opacity: 1;
                }
                40% {
                  height: 75px;
                  width: 37.5px;
                  opacity: 1;
                }
                100% {
                  height: 75px;
                  width: 37.5px;
                  opacity: 1;
                }
              }
              @keyframes checkmark {
                0% {
                  height: 0;
                  width: 0;
                  opacity: 1;
                }
                20% {
                  height: 0;
                  width: 37.5px;
                  opacity: 1;
                }
                40% {
                  height: 75px;
                  width: 37.5px;
                  opacity: 1;
                }
                100% {
                  height: 75px;
                  width: 37.5px;
                  opacity: 1;
                }
              }
              
              
