  <!-- Footer -->
  <%# <footer class="text-center text-white" style="background-color: #6EC1E4; position:fixed; bottom:0; right:0; left:0;">
    <div
         class="text-center p-3"
         style="background-color: rgba(0, 0, 0, 0.2)"
         >
      © 2022 Copyright:
      <a class="text-white" href="https://ignitestore.com.pk"
         >ignitestore.com.pk</a
        >
    </div> %>
    <!-- Copyright -->
  <%# </footer> %>
  <!-- Footer -->